@section Scripts {
    <script src="site.js" type="text/javascript"></script>
}

<form action="" method="post">
    <div class="calculator-grid">
        <input id="mainInput" name="maininput" type="text" class="col-span-3" />
        <button type="button" class="calc-clear-button">C</button>
        
        <button type="button" class="calc-button" value="7">7</button>
        <button type="button" class="calc-button" value="8">8</button>
        <button type="button" class="calc-button" value="9">9</button>
        <button type="button" class="calc-button" value="/">&div;</button>
        
        <button type="button" class="calc-button" value="4">4</button>
        <button type="button" class="calc-button" value="5">5</button>
        <button type="button" class="calc-button" value="6">6</button>
        <button type="button" class="calc-button" value="*">&times;</button>
        
        <button type="button" class="calc-button" value="1">1</button>
        <button type="button" class="calc-button" value="2">2</button>
        <button type="button" class="calc-button" value="3">3</button>
        <button type="button" class="calc-button" value="-">-</button>
        
        <button type="button" class="calc-button" value="0">0</button>
        <button class="col-span-2">=</button>
        <button type="button" class="calc-button" value="+">+</button>
    </div>
</form>
